.about {
  margin-bottom: 43px;

  @media (min-width: $vp-768) {
    margin-bottom: 0;
  }

  @media (min-width: $vp-1150) {
    margin-left: 175px;
  }
}

.about__title {
  font-family: $ff-opensans;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $color-default-black;
  margin-bottom: 28px;

  @media (min-width: $vp-768) {
    font-size: 43px;
    line-height: 50px;

    margin-bottom: 43px;
  }

  @media (min-width: $vp-1150) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 42px;
  }
}

.about__list {
  list-style: none;

  @media (min-width: $vp-768) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding-bottom: 32px;
  }

  @media (min-width: $vp-1150) {
    max-width: 699px;
    padding-bottom: 39px;
  }
}

.about__list-item {
  position: relative;
  font-family: $ff-opensans;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $color-default-black;
  padding: 53px 20px 15px 1px;
  margin-bottom: 15px;

  @media (min-width: $vp-768) {
    margin-bottom: 51px;
    font-size: 20px;
    line-height: 22px;

    padding: 58px 20px 0 0;

    max-width: 370px;
  }

  @media (min-width: $vp-1150) {
    padding: 57px 20px 0 0;
  }
}

.about__list-item--ecology {
  &::before {
    position: absolute;
    content: url("../img/about/ecology.svg");
    top: 0;
    left: 8px;
    width: 33px;
    height: 38px;
  }

  @media (min-width: $vp-768) {
    order: 0;
  }
}

.about__list-item--style {
  &::before {
    position: absolute;
    content: url("../img/about/style.svg");
    top: 0;
    left: 0;
    width: 47px;
    height: 27px;
  }

  @media (min-width: $vp-768) {
    order: 2;
  }
}

.about__list-item--like {
  &::before {
    position: absolute;
    content: url("../img/about/like.svg");
    top: 4px;
    left: 7px;
    width: 34px;
    height: 27px;

    @media (min-width: $vp-768) {
      top: 7px;
    }
  }

  @media (min-width: $vp-768) {
    order: 4;
  }
}

.about__list-item--love {
  &::before {
    position: absolute;
    content: url("../img/about/love.svg");
    top: 0;
    left: 3px;
    width: 35px;
    height: 34px;
  }

  @media (min-width: $vp-768) {
    order: 1;
  }
}

.about__list-item--nativ {
  &::before {
    position: absolute;
    content: url("../img/about/nativ.svg");
    top: 4px;
    left: -6px;
    width: 55px;
    height: 23px;
  }

  @media (min-width: $vp-768) {
    order: 3;
  }
}

.about__list-item--gift {
  &::before {
    position: absolute;
    content: url("../img/about/gift.svg");
    top: -2px;
    left: 3px;
    width: 33px;
    height: 32px;

    @media (min-width: $vp-768) {
      order: 5;
      top: 3px;
    }
  }

  @media (min-width: $vp-768) {
    order: 5;
  }
}
