// catalog

.catalog {
  padding-top: 28px;

  @media (min-width: $vp-768) {
    padding-top: 58px;
    margin-bottom: 240px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 125px;
    padding-top: 37px;
  }
}

.catalog__wrapper {
  @media (min-width: $vp-1024) {
    margin: 0 auto;
  }
}

// catalog title

.catalog__title {
  position: relative;

  font-family: $ff-opensans;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $color-default-black;

  margin-right: 20px;
  margin-bottom: 60px;
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    top: -27px;
    left: 0;

    width: 100%;
    min-width: 320px;
    height: 1px;

    background-color: $color-whisper-light;
    overflow: hidden;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: -42px;
    left: 0;

    width: 100%;
    min-width: 320px;
    height: 1px;

    background-color: $color-whisper-light;
    overflow: hidden;
  }

  @media (min-width: $vp-768) {
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    margin-bottom: 84px;

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 84px;
  }
}

// catalog cards list

.catalog__list {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(1, 1fr);

  max-width: 500px;
  margin: 0 auto;

  // tablet

  @media (min-width: $vp-768) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.8%;
    column-gap: 9%;

    max-width: unset;
  }

  // descktop

  @media (min-width: $vp-1024) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 7%;
    row-gap: 6%;
  }
}

.catalog__last-link {
  text-decoration: none;
}

// catalog card

.catalog__item {
  position: relative;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content;
  grid-template-areas:
    "image text"
    "button button";

  margin-bottom: 43px;

  &::before {
    position: absolute;
    content: "";
    bottom: -25px;
    left: -150px;

    width: 100vh;
    height: 1px;

    background-color: $color-whisper-light;

    overflow: hidden;
  }

  @media (min-width: $vp-768) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "text"
      "button";

    margin-bottom: 0;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: calc(100% - 81px);

      background-color: $color-white-smoke;

      z-index: -1;
    }

    padding: 0 12% 12%;
  }

  @media (min-width: $vp-1024) {
    padding: 0 14% 16%;
  }
}

// catalog card img

.catalog__card-img {
  grid-area: image;

  @media (min-width: $vp-768) {
    display: block;
    width: 100%;
  }
}

// catalog img link

.catalog__card-img-link {
  text-align: center;
  align-self: center;

  @media (min-width: $vp-768) {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-self: start;

    height: 210px;
    margin-bottom: 32px;
  }

  @media (min-width: $vp-1024) {
    height: 200px;
    margin-bottom: 44px;
  }
}

// card title

.catalog__card-title {
  text-decoration: none;

  font-family: $ff-opensans;
  font-style: normal;
  font-weight: 400;
  font-size: $fsize-default-20;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-nero;

  display: block;
  text-align: start;

  max-width: 76px;
  margin-bottom: 18px;

  // tablet

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: $flh-default-22;

    text-align: center;

    max-width: 147px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  // descktop

  @media (min-width: $vp-1024) {
    line-height: 21px;
    margin-bottom: 24px;
  }
}

// card description

.catalog__card-description-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $vp-768) {
    border-bottom: 1px solid $color-very-light-grey;

    margin-bottom: 7px;
  }
}

// card features text

.catalog__card-item-features,
.catalog__card-item-meaning {
  font-family: $ff-opensans;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: $fsize-default-20;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

// card content wrapper

.catalog__card-content-wrapper {
  grid-area: text;

  margin-bottom: 20px;

  @media (min-width: $vp-768) {
    margin-bottom: 26px;
  }
}

// catalog card button

.catalog__card-button {
  grid-area: button;

  padding: 11px 44px;

  width: 100%;

  @media (min-width: $vp-768) {
    font-size: $fsize-default-20;
    line-height: 20px;
    margin-top: auto;
  }
}

// last card more product

.catalog__item--more-products {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 60px;
  margin-bottom: 49px;

  @media (min-width: $vp-768) {
    margin-bottom: 0;

    padding: 244px 39px 12% 12%;

    background-color: transparent;

    &::before {
      background-color: transparent;
      border: 2px solid $color-white-smoke;
    }
  }

  @media (min-width: $vp-1024) {
    padding: 244px 26px 12% 12%;
  }
}

.catalog__item-last-link {
  display: block;

  width: 100%;
}

.catalog__item-last-img {
  position: relative;
  left: 50%;

  &::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 50%;

    width: 2px;
    height: 30px;

    background-color: #d3d3d3;
    transform: translateX(-50%);

    @media (min-width: $vp-768) {
      height: 60px;
      top: -107px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: -50px;
    left: 50%;

    width: 2px;
    height: 30px;

    background-color: #d3d3d3;
    transform: translateX(-50%) rotate(90deg);

    @media (min-width: $vp-768) {
      height: 60px;
      top: -107px;
    }
  }
}

.catalog__item--more-products .catalog__card-title {
  font-family: $ff-opensans;
  font-style: normal;
  font-weight: 400;
  font-size: $fsize-default-20;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-default-black;

  max-width: unset;
  margin-bottom: 8px;

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 22px;

    margin-bottom: 23px;
    max-width: 134px;
  }
}

.catalog__card-more-description {
  font-family: $ff-opensans;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $color-charcoal;

  text-align: center;

  margin-bottom: 21px;

  @media (min-width: $vp-768) {
    font-size: $fsize-default-20;
    line-height: 18px;

    margin-bottom: 87px;
    max-width: 165px;
  }
}

// last card more button

.catalog__card-more-button {
  font-weight: 400;
  font-size: $fsize-default-20;
  line-height: 20px;
  font-family: $ff-opensans;
  text-align: center;
  color: $color-charcoal;
  text-transform: uppercase;

  display: block;

  padding: 10px;
  width: 100%;

  background-color: $color-white-smoke;

  @media (min-width: $vp-1024) {
    width: 88%;
  }
}

// card more button condition

.catalog__card-more-button:hover {
  background-color: $color-whisper-light;
}

.catalog__card-more-button:active {
  color: $color-default-black;
  opacity: 0.3;
}

// card title condition

.catalog__card-title:hover {
  opacity: 0.8;
}

.catalog__card-title:active {
  opacity: 0.5;
}
