.catalog__wrapper-title {
  position: relative;

  padding: 74px 22px;
  background-color: $color-white-smoke;

  margin-bottom: 30px;
  text-align: center;
  max-height: 256px;

  @media (min-width: $vp-768) {
    margin-top: -67px;
    margin-bottom: 67px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 111px;
  }
}

// catalog title

.catalog__title {
  display: block;

  font-family: $ff-opensans;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: $color-default-black;

  @media (min-width: $vp-768) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $vp-1024) {
    font-size: 53px;
    line-height: 57px;
  }
}

// catalog card list

.catalog__list {
  list-style: none;

  @media (min-width: $vp-768) {
    display: flex;

    gap: 52px;
  }
}

.catalog__item {
  margin-bottom: 30px;

  @media (min-width: $vp-768) {
    display: flex;

    margin-bottom: 54px;
  }

  @media (min-width: $vp-1024) {
    flex-direction: column;

    margin-bottom: 27px;
  }
}

.catalog__card-content-wrapper {
  border: 1px solid $color-whisper;
  background-color: $color-default-white;

  display: flex;
  flex-direction: column;

  padding: 28px 28px 27px;

  @media (min-width: $vp-768) {
    width: 50%;
  }

  @media (min-width: $vp-1024) {
    width: 100%;

    flex-grow: 1;
  }
}

.catalog__card-title {
  text-decoration: none;

  font-family: $ff-opensans;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $color-default-black;

  margin-bottom: 6px;

  @media (min-width: $vp-768) {
    font-size: 20px;
  }
}

.catalog__card-img {
  vertical-align: bottom;

  object-fit: cover;

  width: 100%;

  @media (min-width: $vp-1024) {
    height: 462px;
  }
}

.catalog__card-description {
  position: relative;

  font-family: $ff-opensans;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: $color-charcoal;

  margin-bottom: 41px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 1px;
    background-color: $color-whisper;

    @media (min-width: $vp-768) {
      content: none;
    }
  }

  @media (min-width: $vp-768) {
    font-size: 15px;
  }
}

.catalog__price-wrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $vp-768) {
    margin-top: auto;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: -20px;
      width: 100%;
      height: 1px;
      background-color: $color-whisper;
    }
  }

  @media (min-width: $vp-768) {
    font-size: 17px;
  }
}

.catalog__price {
  position: relative;

  font-family: $ff-opensans;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: $color-default-black;
}

.catalog__button-curt {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.catalog__price-ico {
  opacity: 0.3;
}

.catalog__button-curt:hover .catalog__price-ico {
  opacity: 1;
  color: $color-downy2;
}

.catalog__button-curt:active .catalog__price-ico {
  opacity: 0.2;
}
