.contacts {
  margin-bottom: 39px;

  @media (min-width: $vp-1024) {
    margin-bottom: 102px;
  }
}

.contacts__wrapper {
  position: relative;

  &::before {
    @media (min-width: $vp-768) {
      position: absolute;
      content: url("/../img/contacts/flag.svg");
      width: 47px;
      height: 81px;
      right: 3px;
      top: -22px;
    }

    @media (min-width: $vp-1024) {
      left: -100px;
      top: 62px;
    }
  }

  @media (min-width: $vp-1024) {
    display: grid;
    grid-template-areas:
      "title map"
      "text  map"
      "button map";

    max-width: 1050px;
    grid-template-columns: 291px 527px;
    column-gap: 69px;
    justify-items: center;
    margin-left: 164px;
  }
}

.contacts__title {
  font-family: $ff-opensans;
  font-size: 25px;
  line-height: 30px;
  color: $color-default-black;
  margin-bottom: 28px;

  @media (min-width: $vp-768) {
    position: relative;
    font-size: 43px;
    line-height: 50px;

    margin-bottom: 50px;
  }

  @media (min-width: $vp-1024) {
    font-size: 53px;
    line-height: 57px;

    padding-top: 82px;
  }
}

.contacts__adress {
  margin-bottom: 62px;

  font-style: inherit;

  display: grid;
  gap: 35px;

  @media (min-width: $vp-768) {
    grid-template-columns: 1fr 1fr;
    gap: unset;

    margin-bottom: 49px;
  }

  @media (min-width: $vp-1024) {
    grid-template-columns: 1fr;
    grid-area: text;

    margin-bottom: 86px;
  }
}

.contacts__data-wrapper {
  display: flex;
  gap: 20%;

  @media (min-width: $vp-768) {
    gap: 24px;
  }

  @media (min-width: $vp-1024) {
    margin-top: 30px;
  }
}

.contacts__mail-title {
  font-family: $ff-opensans;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    font-size: 17px;
  }
}

.contacts__mail-adress {
  font-family: $ff-opensans;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    position: relative;
    font-size: 17px;

    &::after {
      position: absolute;
      content: "";
      top: 29px;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: #62d1ba;
    }
  }
}

.contacts__adress-title {
  font-family: $ff-opensans;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    font-size: 17px;
  }
}

.contacts__adress-text {
  font-family: $ff-opensans;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $color-charcoal;

  max-width: 220px;

  @media (min-width: $vp-768) {
    font-size: 17px;
  }
}

.contacts__map {
  position: relative;
  width: 100%;
  height: 454px;
  overflow: hidden;
  margin: 0 auto 42px;

  @media (min-width: $vp-768) {
    margin-bottom: 55px;
  }

  @media (min-width: $vp-1024) {
    grid-area: map;
    margin-bottom: 0;
  }
}

.contacts__map-pin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: 67px;
  height: 100px;

  z-index: -1;
}

.contacts__wrapper-button {
  padding: 0 20px;

  @media (min-width: $vp-1024) {
    grid-area: button;
    margin-left: 133px;
  }
}

.contacts__button {
  padding: 16px 38px;

  @media (min-width: $vp-768) {
    max-width: 230px;

    margin: 0 auto;

    padding: 16px 28px;
    margin-bottom: 56px;
  }

  @media (min-width: $vp-1024) {
    padding: 15px 38px;
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.contacts__map-offline {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  z-index: -2;
}

.contacts__online-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
