.contacts {
  margin-bottom: 39px;
}

.contacts__title {
  font-family: $ff-opensans;
  font-size: 25px;
  line-height: 30px;
  color: $color-default-black;
  margin-bottom: 28px;

  @media (min-width: $vp-768) {
    position: relative;
    font-size: 43px;
    line-height: 50px;

    margin-bottom: 0;
  }
}

.contacts__adress {
  margin-bottom: 62px;

  display: grid;
  gap: 35px;

  @media (min-width: $vp-768) {
    grid-template-columns: 1fr 1fr;
    gap: unset;

    margin-bottom: 49px;
  }
}

.contacts__data-wrapper {
  display: flex;
  gap: 20%;

  @media (min-width: $vp-768) {
    justify-content: space-between;
    gap: unset;

    max-width: 288px;
  }
}

.contacts__top-wrapper {
  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;

    margin-bottom: 49px;
  }
}

.contacts__mail-title {
  font-family: $ff-opensans;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $color-charcoal;
}

.contacts__flag {
  position: relative;
  width: 50px;
  display: block;
  align-self: end;

  @media (min-width: $vp-768) {
    &::before {
      position: absolute;
      content: "";
      border: 3px solid $color-default-black;
      height: 97px;
      left: 0;
      top: -97px;
    }

    &::after {
      position: absolute;
      content: "";
      top: -94px;
      right: -20%;

      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-bottom-width: 25px;
      border-top-width: 25px;
      border-left: 47px solid #63d1bb;
    }
  }
}

.contacts__mail-adress {
  font-family: $ff-opensans;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    font-size: 17px;
  }
}

.contacts__adress-title {
  font-family: $ff-opensans;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    font-size: 17px;
  }
}

.contacts__adress-text {
  font-family: $ff-opensans;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $color-charcoal;

  max-width: 183px;

  @media (min-width: $vp-768) {
    font-size: 17px;

    max-width: 213px;
  }
}

.contacts__map {
  position: relative;
  width: 100%;
  height: 454px;
  overflow: hidden;
  margin: 0 auto 42px;

  @media (min-width: $vp-768) {
    margin-bottom: 55px;
  }
}

.contacts__map-pin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: 67px;
  height: 100px;

  z-index: -1;
}

.contacts__wrapper-button {
  padding: 0 20px;
}

.contacts__button {
  padding: 16px 38px;

  @media (min-width: $vp-768) {
    max-width: 230px;

    margin: 0 auto;

    padding: 16px 28px;
    margin-bottom: 57px;
  }
}

.contacts__map-offline {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  z-index: -2;
}

.contacts__online-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
