.footer {
  background-color: $color-white-smoke;
}

// footer wrapper

.footer__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  border-color: $color-default-white;

  padding: 30px 30px 23px;

  align-items: center;

  // footer lines

  &::before {
    position: absolute;
    content: "";
    top: 80px;
    width: calc(100% - 40px);
    border: 1px solid $color-gainsboro;
    left: 20px;

    //tablet footer

    @media (min-width: $vp-768) {
      content: none;
    }
  }

  @media (min-width: $vp-768) {
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    padding: 49px 50px 54px;
  }

  @media (min-width: $vp-1150) {
    padding: 49px 50px 55px 50px;
  }
}

.footer__logo {
  display: none;

  @media (min-width: $vp-768) {
    display: block;

    margin-right: auto;
  }
}

.footer__logo-link {
  color: $color-default-black;
}

.footer__logo:hover .footer__logo-link {
  color: $color-puerto-rico;
}

.footer__logo:active .footer__logo-link {
  opacity: 0.5;
}

//footer social list

.footer__social-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
  list-style: none;
  gap: 31px;

  max-width: 139px;
  width: 100%;

  @media (min-width: $vp-768) {
    margin-bottom: 0;
  }

  @media (min-width: $vp-1150) {
    margin-bottom: -4px;
    margin-left: 63px;
  }
}

// footer ico condition

.footer__img {
  fill: $color-nero-black;
}

.footer__img:hover {
  fill: $color-puerto-rico;
}

.footer__img:active {
  opacity: 0.3;
}

//footer copyright

.footer__link {
  text-decoration: none;
  color: $color-charcoal;
  display: flex;

  align-items: center;

  max-width: 320px;

  @media (min-width: $vp-768) {
    margin-left: auto;
  }
}

.footer__link-text {
  font-family: $ff-opensans;
  font-size: 19px;
  line-height: 18px;
  color: $color-default-black;

  display: inline-block;
  margin-right: 27px;
}

.footer__link-img {
  fill: $color-downy;

  opacity: 0.8;
}

.footer__link:hover .footer__link-img {
  opacity: 1;
}

.footer__link:active .footer__link-img {
  opacity: 0.4;
}
