// form button

.form-button {
  border: none;

  font-size: $fsize-default-20;
  line-height: 20px;

  padding: 9px 44px 11px 44px;

  margin: 0 auto;
  margin-bottom: 22px;
  cursor: pointer;

  // tablet

  @media (min-width: $vp-768) {
    font-size: 20px;

    margin-right: 68px;
    margin-bottom: 0;
    margin-left: 0;

    padding: 15px 55px;
  }

  //descktop

  @media (min-width: $vp-1024) {
    min-width: 568px;
    margin-right: 84px;
  }
}
