.form-hero {
  position: relative;

  margin: 0 auto;
  margin-bottom: 39px;
  padding-top: 27px;

  // tablet

  @media (min-width: $vp-768) {
    padding-top: 58px;
    margin-bottom: 65px;
  }

  // descktop

  @media (min-width: $vp-1024) {
    padding-top: 39px;
    margin-bottom: 66px;
  }
}

// form hero title

.form-hero__title {
  font-family: $ff-opensans;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $color-default-black;

  margin-right: 20px;
  margin-bottom: 37px;

  // tablet

  @media (min-width: $vp-768) {
    font-size: 60px;
    line-height: 60px;

    margin-right: 30px;
    margin-bottom: 54px;
  }
}

// form hero description

.form-hero__description {
  font-family: $ff-opensans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $color-default-black;
  text-transform: uppercase;

  text-align: start;

  margin-right: 20px;
  max-width: 226px;

  // tablet

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 30px;

    max-width: 323px;
  }
}
// form hero wrapper

.form-hero__wrapper {
  @media (min-width: $vp-768) {
    padding-left: 70px;
    padding-right: 66px;
  }

  @media (min-width: $vp-1024) {
    padding-left: 40px;
    padding-right: 40px;
  }
}
