.header {
  position: relative;

  &::before {
    @media (min-width: $vp-768) {
      position: absolute;

      content: "";
      background: #000000;
      opacity: 0.1;
      width: 100%;
      height: 1px;
      left: 0;
      top: 79px;

      z-index: 3;
    }

    @media (min-width: $vp-768) {
      top: 88px;
    }
  }
}

.header__wrapper {
  background-color: $color-default-white;

  padding-top: 25px;
  padding-bottom: 22px;

  @media (min-width: $vp-768) {
    padding-top: 0;
  }
}

//header nav drop menu list

.header__nav {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $color-default-white;

  @media (min-width: $vp-768) {
    display: grid;
    grid-template-columns: 323px 1fr;
    grid-template-areas:
      "logo  user"
      "main-menu  delivery";
    row-gap: 18px;
  }

  @media (min-width: $vp-1024) {
    grid-template-columns: 36% 1fr 33%;
    grid-template-areas:
      "main-menu logo  user"
      "promo . delivery";
  }
}

.header__nav-top {
  display: flex;
  align-items: center;

  @media (min-width: $vp-768) {
    display: block;
    grid-area: logo;

    padding: 22px 31px 20px 0;
  }

  @media (min-width: $vp-1024) {
    padding: 0;
    margin: 0 auto;
    margin-left: 71px;
    border: none;
  }
}

// header logo

.header__logo {
  @media (min-width: $vp-768) {
    width: 113px;
  }

  @media (min-width: $vp-1024) {
    width: 150px;
    padding-top: 4px;
  }
}

//header button menu

.header__button {
  position: absolute;
  right: 0;

  display: block;

  width: 24px;
  height: 24px;

  background: transparent;

  border: none;

  cursor: pointer;

  padding-bottom: 6px;

  @media (min-width: $vp-768) {
    display: none;
  }
}

//header button withaut JS

.header__button--no-js {
  visibility: hidden;
}

//header buton dinamic decorate line

.header__button-line {
  position: relative;

  display: inline-block;

  vertical-align: middle;

  width: 100%;
  height: 2px;

  font-size: 0;

  color: transparent;

  background: #111111;
  transition: opacity 0.3s;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 7px;

    width: 100%;
    height: 2px;

    background: #111111;

    transform-origin: 50% 50%;
    transition: 0.3s 0.3s, transform 0.3s;
  }

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 7px;

    width: 100%;
    height: 2px;

    background: #111111;

    transform-origin: 50% 50%;
    transition: 0.3s 0.3s, transform 0.3s;
  }
}

// header button condition

.header__button--active {
  background-color: transparent;
}

.header__button--active .header__button-line {
  background-color: transparent;
}

.header__button--active .header__button-line::before {
  transform: rotate3d(0, 0, 1, (-45deg));
  transition: 0.3s, transform 0.3s 0.3s;
  top: 0;
}

.header__button--active .header__button-line::after {
  transform: rotate3d(0, 0, 1, 45deg);
  transition: 0.3s, transform 0.3s 0.3s;
  top: 0;
}

.header__nav-delivery {
  display: none;

  @media (min-width: $vp-768) {
    display: inline-flex;

    grid-area: delivery;

    text-align: end;

    font-family: $ff-opensans;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;

    color: $color-charcoal;

    margin-left: auto;
  }
}
