.menu {
  position: absolute;
  top: 60px;
  display: none;

  list-style-type: none;

  width: calc(100% + 40px);

  text-align: center;
  z-index: 2;

  @media (min-width: $vp-768) {
    position: relative;
    width: unset;

    top: unset;

    display: flex;
    grid-area: main-menu;
  }

  @media (min-width: $vp-1024) {
    padding: 33px 0 32px 0;
    justify-content: space-between;

    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 100%;
      background-color: $color-default-black;
      opacity: 0.1;
      top: 0;
      left: 49%;
    }
  }
}

//menu list

.menu__list {
  background-color: $color-default-white;
}

.menu .menu__list {
  @media (min-width: $vp-768) {
    min-width: 50%;

    font-size: 15px;
  }

  @media (min-width: $vp-1024) {
    min-width: unset;
  }
}

.menu__user {
  display: none;

  position: absolute;
  top: 220px;

  width: calc(100% + 40px);
  list-style-type: none;

  background-color: $color-default-white;

  z-index: 2;

  @media (min-width: $vp-768) {
    position: relative;

    width: unset;

    top: unset;

    display: flex;
    flex-wrap: wrap;

    align-items: center;

    grid-area: user;

    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 100%;
      background-color: $color-default-black;
      opacity: 0.1;
      top: 0;
      left: -3px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 100%;
      background-color: $color-default-black;
      opacity: 0.1;
      top: 0;
      left: 23%;
    }
  }
}

.menu__promo {
  list-style-type: none;
  display: none;
  background-color: $color-default-white;

  @media (min-width: $vp-1024) {
    display: flex;
    max-width: 316px;
    justify-content: space-between;

    grid-area: promo;
  }
}

// open menu navigation

.menu--drop-list {
  display: block;
}

//header menu no js

.menu--no-js {
  display: block;
  height: 225px;
  opacity: 1;
  transition: height 0.5s, opacity 1s;
}

// menu list ico

.menu__user-list-ico {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;

  @media (min-width: $vp-768) {
    grid-area: search;
  }
}

.menu__user-list-ico--search {
  @media (min-width: $vp-768) {
    left: 29px;
  }
}

.menu__user-list--cart {
  @media (min-width: $vp-768) {
    margin-left: auto;
  }

  @media (min-width: $vp-1024) {
    padding: 33px 0 32px 0;
    max-width: 186px;
    width: 100%;
  }
}

.menu__user-list-ico--cart {
  @media (min-width: $vp-768) {
    left: -48px;
  }
}

.menu__list-item {
  display: block;

  text-decoration: none;

  font-family: $ff-opensans;
  font-size: 17px;
  line-height: 24px;
  color: $color-default-black;
  text-align: left;

  padding-top: 29px;
  padding-bottom: 26px;
  padding-left: 90px;

  border-top: 1px solid $color-whisper-light;

  @media (min-width: $vp-768) {
    border: none;
    padding: 0;

    max-width: 185px;
  }
}

.menu__user-list-item {
  position: relative;
  display: block;

  text-decoration: none;

  font-family: $ff-opensans;
  font-size: 17px;
  line-height: 24px;
  color: $color-default-black;
  text-align: left;

  padding-top: 29px;
  padding-bottom: 26px;
  padding-left: 90px;

  border-top: 1px solid $color-whisper-light;

  @media (min-width: $vp-768) {
    border: none;

    padding: 0;
  }
}

.menu__user-list--search {
  padding: 36px 32px 34px;
}

.menu__promo-list-item {
  display: block;

  text-decoration: none;

  font-family: $ff-opensans;
  font-size: 17px;
  line-height: 24px;
  color: $color-default-black;
  text-align: left;

  padding-top: 29px;
  padding-bottom: 26px;
  padding-left: 90px;

  border-top: 1px solid $color-whisper-light;

  @media (min-width: $vp-768) {
    border: none;
  }

  @media (min-width: $vp-1024) {
    padding: 0;
    font-size: 15px;
    line-height: 21px;
  }
}

.menu__user-list-item-serch-text {
  @media (min-width: $vp-768) {
    display: none;
  }
}

//condition menu list

.menu__list:hover .menu__list-item {
  opacity: 0.6;
}

.menu__user-list--ico:hover .menu__user-list-ico {
  color: $color-downy;
  opacity: 1;
}

.menu__list:active .menu__list-item {
  opacity: 0.3;
}
