.production {
  margin-bottom: 58px;

  @media (min-width: $vp-768) {
    margin-bottom: 64px;
  }

  @media (min-width: $vp-1024) {
    position: relative;
  }
}

.production__wrapper {
  border: 1px solid $color-whisper;
  padding: 22px 0 33px;

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: column;

    padding: 0 0 46px;
  }

  @media (min-width: $vp-1024) {
    margin-left: auto;
    max-width: 367px;

    padding: 96px 36px 60px 0;
  }
}

.production__title {
  position: relative;

  font-family: $ff-opensans;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $color-default-black;

  text-align: start;
  max-width: 156px;

  margin-left: 91px;
  margin-bottom: 27px;

  &::before {
    position: absolute;
    content: url("../img/catalog/video/video.svg");
    width: 32px;
    height: 22px;
    left: -63px;
    bottom: 16px;

    @media (min-width: $vp-768) {
      bottom: 5px;
    }
  }

  @media (min-width: $vp-768) {
    order: 1;

    max-width: unset;
    align-items: center;

    font-size: 20px;

    margin-bottom: 25px;
  }
}

.production__wrapper-video {
  position: relative;
  margin-bottom: 35px;

  @media (min-width: $vp-768) {
    margin-bottom: 41px;
  }

  @media (min-width: $vp-1024) {
    position: absolute;
    left: 50px;
    top: 0;
  }
}

.production__video {
  object-fit: cover;
  width: 100%;
}

.production__video-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  background-color: transparent;

  cursor: pointer;
}

.production__video-button:hover {
  scale: 1.2;
}

.production__video-button:active {
  opacity: 0.5;
}

.production__text {
  font-family: $ff-opensans;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $color-charcoal;

  margin-left: 41px;
  margin-bottom: 41px;

  @media (min-width: $vp-768) {
    order: 2;

    font-size: 15px;

    margin-bottom: 41px;
  }
}

.production__button {
  max-width: 192px;

  padding: 18px 11px;
  margin: 0 auto;

  font-size: 18px;
  line-height: 16px;

  @media (min-width: $vp-768) {
    order: 3;

    max-width: unset;

    padding: 18px 207px;
    width: 90%;

    font-size: 17px;
  }

  @media (min-width: $vp-1024) {
    max-width: 230px;
    padding: 18px 30px;
  }
}
