.promo {
  margin-bottom: 93px;

  @media (min-width: $vp-768) {
    padding: 0;
    margin: 0;
    margin-bottom: 31.4%;
  }
}

.promo__content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  max-width: 285px;

  @media (min-width: $vp-768) {
    max-width: unset;

    margin-top: -69px;
  }
}

.promo__title {
  font-family: $ff-opensans;
  font-size: 27px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: $color-default-black;

  margin: 0 auto;

  order: 1;
  margin-top: -90%;

  max-width: 260px;

  @media (min-width: $vp-768) {
    font-size: 43px;
    line-height: 50px;
    min-width: 668px;

    margin-top: -78%;
  }

  @media (min-width: $vp-1024) {
    font-size: 53px;
    line-height: 57px;

    margin-top: -57%;
  }
}

.promo__product {
  @media (min-width: $vp-768) {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @media (min-width: $vp-1024) {
    width: 1150px;
    height: 746px;
  }
}
