.reviews__wrapper {
  @media (min-width: $vp-768) {
    background-image: url("/../img/reviews/review@1x.png");
    background-repeat: no-repeat;
    background-size: 350px 457px;
    background-position: 0 0;

    @media (min-resolution: 2dppx) {
      background-image: url("/../img/reviews/review@2x.png");
    }
  }

  @media (min-width: $vp-1024) {
    background-position: 50px 0;
    padding-left: 223px;
    padding-bottom: 47px;
  }
}

.reviews__content-wraper {
  @media (min-width: $vp-768) {
    display: grid;
    grid-template-areas:
      "title button"
      "slide slide";
    column-gap: 15%;
    padding-top: 82px;
    padding-bottom: 17px;
  }

  @media (min-width: $vp-1024) {
    padding-top: 77px;
  }
}

.reviews {
  margin-bottom: 38px;

  position: relative;

  &::after {
    content: "";
    display: block;
    background-image: url("../img/top-weecks/mobile/zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 8px 0;
    background-size: 320px 7px;
    width: 100%;
    height: 6px;
    margin-top: 45px;

    @media (min-width: $vp-768) {
      background-image: url("../img/top-weecks/tablet/zigzag-line.svg");
      background-size: 771px 17px;
      background-position: -2px 0;
      height: 17px;
      margin-top: 68px;
    }

    @media (min-width: $vp-1024) {
      margin: 0 auto;

      background-size: 1050px 23px;
      background-position: 0 0;

      width: 1050px;
      height: 24px;

      position: absolute;

      bottom: -20%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: $vp-768) {
    margin-bottom: 69px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 160px;
  }
}

.reviews__title {
  font-family: $ff-opensans;
  font-size: 25px;
  line-height: 30px;
  color: $color-default-black;
  margin-bottom: 14px;

  @media (min-width: $vp-768) {
    font-size: 43px;
    line-height: 50px;

    grid-area: title;
    margin-bottom: 0;
  }

  @media (min-width: $vp-1024) {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__slide {
  @media (min-width: $vp-768) {
    position: relative;

    grid-area: slide;
  }
}

.reviews__text {
  font-family: $ff-opensans;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: $color-charcoal;
  margin-bottom: 33px;

  @media (min-width: $vp-768) {
    font-size: 17px;
    line-height: 30px;

    padding-top: 39px;
    margin-bottom: 60px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 42px;
  }
}

.reviews__wrapper-author {
  margin-bottom: 30px;
}

.reviews__author-name {
  font-family: $ff-opensans;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  color: $color-default-black;

  display: block;

  margin-bottom: 10px;

  @media (min-width: $vp-768) {
    font-size: 18px;
    line-height: 24px;

    margin-bottom: 4px;
  }
}

.reviews__author-mail {
  font-family: $ff-opensans;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: $color-charcoal;
}

.reviews__wrapper-slide-button {
  margin-bottom: 38px;

  @media (min-width: $vp-768) {
    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    max-width: 141px;
    width: 100%;
    margin-left: auto;
    margin-right: 15px;

    padding-bottom: 7px;
    padding-right: 4px;
    align-self: end;
  }
}

.reviews__slid-button-prew {
  background-image: url("../../img/reviews/arrow.svg");
  background-repeat: no-repeat;
  background-size: 50px 26px;

  border: 1px solid $color-whisper;

  background-color: $color-default-white;
  background-position: 50%;

  transform: rotate(-180deg);

  margin-right: -5px;

  width: 50%;
  height: 52px;

  cursor: pointer;

  @media (min-width: $vp-768) {
    border: none;
    width: 50px;
    height: 26px;
  }
}

.reviews__slid-button-next {
  background-image: url("../../img/reviews/arrow.svg");
  background-repeat: no-repeat;
  background-size: 50px 26px;

  border: 1px solid $color-whisper;

  background-color: $color-default-white;
  background-position: 50%;

  margin-left: -5px;

  width: 50%;
  height: 52px;

  cursor: pointer;

  @media (min-width: $vp-768) {
    border: none;
    width: 50px;
    height: 26px;
  }
}

.reviews__slid-button:hover {
  opacity: 0.6;
}

.reviews__slid-button:active {
  opacity: 0.3;
}

.reviews__button {
  @media (min-width: $vp-768) {
    grid-area: button;

    padding: 14px 26px;
    margin-left: auto;
    margin-top: -5px;

    max-width: 175px;
    align-self: end;
  }
}
