.top-weecks {
  position: relative;
  overflow: hidden;

  background-color: $color-default-white;

  z-index: 1;

  margin-bottom: 31px;

  @media (min-width: $vp-768) {
    margin-bottom: 56px;
  }

  @media (min-width: $vp-1150) {
    padding-top: 0;

    margin-bottom: 165px;
  }
}

.top-weecks__top-wrapper {
  align-items: center;
  margin-bottom: 18px;

  @media (min-width: $vp-768) {
    display: flex;
    margin-bottom: 34px;
  }

  @media (min-width: $vp-1150) {
    margin-bottom: 35px;
  }
}

.top-weecks__title {
  font-family: $ff-opensans;
  font-size: 25px;
  line-height: 30px;
  color: $color-default-black;

  margin-right: auto;
  margin-bottom: 4px;

  @media (min-width: $vp-768) {
    grid-area: title;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $vp-1150) {
    order: 1;

    font-size: 53px;
    line-height: 57px;
  }
}

.top-weecks__label {
  display: block;
  font-family: $ff-opensans;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $color-downy;
  text-transform: uppercase;

  margin-right: auto;
  margin-bottom: 18px;

  @media (min-width: $vp-768) {
    grid-area: label;
    margin-bottom: 0;
    margin-left: auto;
    max-width: 100px;
    text-align: center;
    margin-right: 13px;

    padding-bottom: 7px;
  }

  @media (min-width: $vp-1150) {
    margin-left: 31px;
    margin-right: 43px;

    font-size: 17px;
    line-height: 17px;
  }
}

.top-weecks__wrapper {
  @media (min-width: $vp-768) {
    position: relative;

    padding-right: 50%;
  }

  @media (min-width: $vp-1150) {
    position: unset;

    margin-left: 177px;
  }
}

.top-weecks__description {
  font-family: $ff-opensans;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $color-charcoal;

  margin-right: auto;
  margin-bottom: 15px;

  @media (min-width: $vp-768) {
    font-size: 17px;
    line-height: 30px;

    margin-bottom: 36px;

    max-width: 292px;
  }

  @media (min-width: $vp-1150) {
    margin-bottom: 51px;
  }
}

.top-weecks__product-features {
  margin-bottom: 30px;

  width: 100%;

  @media (min-width: $vp-768) {
    margin-bottom: 59px;
    max-width: 292px;
  }

  @media (min-width: $vp-1150) {
    margin-bottom: 114px;
  }
}

.top-weecks__product-features-wrapper {
  display: flex;
  border-bottom: 1px solid $color-whisper;

  margin-bottom: -4px;

  @media (min-width: $vp-768) {
    padding: 10px 0;
    margin-bottom: 0;
  }

  @media (min-width: $vp-1150) {
    padding: 9px 0;
  }
}

.top-weecks__product-description,
.top-weecks__product-meaning {
  font-family: $ff-opensans;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: $color-charcoal;
}

.top-weecks__product-description {
  padding: 12px 10px 12px 1px;

  max-width: 100px;
  width: 100%;

  @media (min-width: $vp-768) {
    max-width: 96px;

    padding: 0;
  }
}

.top-weecks__product-meaning {
  padding: 12px 10px 12px 1px;

  max-width: 160px;
  width: 100%;

  @media (min-width: $vp-768) {
    padding: 0;
  }
}

.top-weecks__product {
  display: block;
  margin: 0 auto;
  margin-bottom: 26px;

  @media (min-width: $vp-768) {
    position: absolute;
    right: 0;
    bottom: -2px;
    width: 334px;
    object-fit: cover;
    z-index: -1;

    margin-bottom: 0;
  }

  @media (min-width: $vp-1150) {
    width: 525px;
    height: 636px;

    right: 50.4%;
    transform: translateX(101%);
  }
}

.top-weecks__product-total {
  font-family: $ff-opensans;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $color-charcoal;

  display: block;

  text-align: center;
  margin-bottom: 24px;

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 33px;

    margin-right: 46px;
  }

  @media (min-width: $vp-1150) {
    margin-bottom: 34px;
    margin-right: unset;
    text-align: unset;
    max-width: 200px;
    margin-left: 72px;
  }
}

.top-weecks__button {
  font-size: 18px;
  line-height: 20px;

  padding: 14px 70px;

  @media (min-width: $vp-768) {
    padding: 14px 99px 12px;

    max-width: calc(100% - 30px);
  }
}
