@import "./variables.scss";
@import "./fonts.scss";
@import "./reboot.scss";
@import "./utils.scss";
@import "./container.scss";
@import "./bloks/button.scss";
@import "./bloks/page.scss";
@import "./bloks/header.scss";
@import "./bloks/categories.scss";
@import "./bloks/top-weecks.scss";
@import "./bloks/vaiwebottomline.scss";
@import "./bloks/white-stick.scss";
@import "./bloks/about.scss";
@import "./bloks/reviews.scss";
@import "./bloks/contacts.scss";
@import "./bloks/form.scss";
@import "./bloks/catalog.scss";
@import "./bloks/production.scss";
@import "./bloks/footer.scss";
@import "./bloks/modal.scss";
