// fonts

$ff-opensans: "OpenSans", "Arial", sans-serif;

// viev ports

$vp-320: 320px;
$vp-768: 768px;
$vp-1024: 1024px;

//default
//fonts famaly

$fsize-default-20: 20px;
$flh-default-22: 22px;

//colors

$color-default-black: #000000;
$color-default-white: #ffffff;

// project colorsnod

$color-light-grey: #d3d3d3;
$color-silver: #bcbcbc;
$color-gainsboro: #d9d9d9;
$color-downy: #63d1bb;
$color-puerto-rico: #56c3b2;
$color-white-smoke: #f1f1f1;
$color-whisper: #eaeaea;
$color-whisper-light: #e6e6e6;
$color-Whisper-light-2: #e7e7e7;
$color-very-light-grey: #cdcdcd;
$color-dim-gray: #666666;
$color-charcoal: #444444;
$color-nero: #222222;
$color-nero-black: #231f20;
$color-light-coral: #ff8282;
$color-whisper: #ececec;
